<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://Demo.hostellerApp.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://nl1-wss2.a2hosting.com</MSDeployServiceURL>
    <DeployIisAppPath>Demo.hostellerApp.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>hostelle</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnString" Order="1" Enabled="False">
          <Destination Path="Data Source=nl1-wsq1.a2hosting.com;Initial Catalog=hostelle_DemoAPI;Integrated Security=False;User ID=hostelle_hostle;Password=user@123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=nl1-wsq1.a2hosting.com;Initial Catalog=hostelle_DemoAPI;Integrated Security=False;User ID=hostelle_hostle;Password=user@123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=nl1-wsq1.a2hosting.com;Initial Catalog=hostelle_DemoAPI;Integrated Security=false;uid=hostelle_hostle;password=user@123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnString-Web.config Connection String">
      <ParameterValue>Data Source=nl1-wsq1.a2hosting.com;Initial Catalog=hostelle_DemoAPI;Integrated Security=False;User ID=hostelle_hostle;Password=user@123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>